<!DOCTYPE html>
<html>
<head>
	<title></title>
	<style type="text/css">
		body
		{
			background-color: gray;
		}
		input[type='text']
		{
			width: 500px;
			height: 35px;
			
		}

        input[type='submit']
		{
			width: 400px;
			height: 35px;
			background-color: orange;
			
		}
	</style>
</head>
<body>
<form action="silogic" method="get">
<input type="text" name="txtnum1" placeholder="Enter p" required="" />
<br><br>
<input type="text" name="txtnum2" placeholder="Enter r" required="" />
<br><br>
<input type="text" name="txtnum3" placeholder="Enter t" required="" />
<br><br>
<input type="submit" name="btnsubmit" value="Calculate" />
</form>
</body>
</html>